<link rel="stylesheet" href="stylesheets/listCarsStyle.css">
<div class="container-fluid">
    <div class="list-button">
        <span class="list-car">List Car</span>
        <div class="button-right">
            <a href="/add-new-car" class="btn btn-primary">
                <img src="images/icon/fi_plus.png" alt="icon-plus"> Add New Car
            </a>
            <!-- <button type="button" href="/newCar" class="btn btn-primary">
                <img src="images/icon/fi_plus.png" alt="icon-plus"> Add New Car
            </button> -->
        </div>
    </div>
    <div class="btn-group" aria-label="Basic example">
        <button type="button" class="btn btn-outline-primary">All</button>
        <button type="button" class="btn btn-outline-primary">Small</button>
        <button type="button" class="btn btn-outline-primary">Medium</button>
        <button type="button" class="btn btn-outline-primary">Large</button>
    </div>
    <div class="row">
        <div class="card col-md-4 me-5">
            <div class="card-body">
                <h5 class="card-title">
                    <img src="images/fi_car.png" alt="img-car">
                </h5>
                <p>Nama/Tipe Mobil</p>
                <h6>Rp 430.000 / hari</h6>
                <p class="card-text">
                    <img src="images/icon/fi_key.png" alt="icon-key">Start rent - Finish rent
                </p>
                <p class="card-text">
                    <img src="images/icon/fi_clock.png " alt="icon-clock">Updated at 4 Apr 2022, 09.00
                </p>
                <div class="btn-group" aria-label="Basic example">
                    <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">
                        <img src="images/icon/fi_trash-2.png" alt="icon-trash">Delete
                    </button>
                    <!-- Modal -->
                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                          <div class="modal-content">
                            <div class="modal-header d-flex justify-content-center">
                              <img src="images/img-BeepBeep.png" alt="">
                            </div>
                            <div class="modal-body text-center">
                              <h6>Menghapus Data Mobil</h6>
                              <p>Setelah dihapus, data mobil tidak dapat dikembalikan. Yakin ingin menghapus?</p>
                            </div>
                            <div class="modal-footer d-flex justify-content-center">
                              <button type="button" class="btn btn-save-modal">Ya</button>
                              <button type="button" class="btn btn-close-modal" data-bs-dismiss="modal">Tidak</button>
                            </div>
                          </div>
                        </div>
                      </div>
                    <!-- End Modal -->
                    <button type="button" class="btn btn-success">
                        <img src="images/icon/fi_edit.png" alt="icon-edit">Edit
                    </button>
                </div>
            </div>
        </div>

        <div class="card col-md-4 me-5">
            <div class="card-body">
                <h5 class="card-title">
                    <img src="images/fi_car.png" alt="img-car">
                </h5>
                <p>Nama/Tipe Mobil</p>
                <h6>Rp 430.000 / hari</h6>
                <p class="card-text">
                    <img src="images/icon/fi_key.png" alt="icon-key">Start rent - Finish rent
                </p>
                <p class="card-text">
                    <img src="images/icon/fi_clock.png " alt="icon-clock">Updated at 4 Apr 2022, 09.00
                </p>
                <div class="btn-group" aria-label="Basic example">
                    <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">
                        <img src="images/icon/fi_trash-2.png" alt="icon-trash">Delete
                    </button>
                    <!-- Modal -->
                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                          <div class="modal-content">
                            <div class="modal-header d-flex justify-content-center">
                              <img src="images/img-BeepBeep.png" alt="">
                            </div>
                            <div class="modal-body text-center">
                              <h6>Menghapus Data Mobil</h6>
                              <p>Setelah dihapus, data mobil tidak dapat dikembalikan. Yakin ingin menghapus?</p>
                            </div>
                            <div class="modal-footer d-flex justify-content-center">
                              <button type="button" class="btn btn-save-modal">Ya</button>
                              <button type="button" class="btn btn-close-modal" data-bs-dismiss="modal">Tidak</button>
                            </div>
                          </div>
                        </div>
                      </div>
                    <!-- End Modal -->
                    <button type="button" class="btn btn-success">
                        <img src="images/icon/fi_edit.png" alt="icon-edit">Edit
                    </button>
                </div>
            </div>
        </div>

        <div class="card col-md-4 me-5">
            <div class="card-body">
                <h5 class="card-title">
                    <img src="images/fi_car.png" alt="img-car">
                </h5>
                <p>Nama/Tipe Mobil</p>
                <h6>Rp 430.000 / hari</h6>
                <p class="card-text">
                    <img src="images/icon/fi_key.png" alt="icon-key">Start rent - Finish rent
                </p>
                <p class="card-text">
                    <img src="images/icon/fi_clock.png " alt="icon-clock">Updated at 4 Apr 2022, 09.00
                </p>
                <div class="btn-group" aria-label="Basic example">
                    <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">
                        <img src="images/icon/fi_trash-2.png" alt="icon-trash">Delete
                    </button>
                    <!-- Modal -->
                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                          <div class="modal-content">
                            <div class="modal-header d-flex justify-content-center">
                              <img src="images/img-BeepBeep.png" alt="">
                            </div>
                            <div class="modal-body text-center">
                              <h6>Menghapus Data Mobil</h6>
                              <p>Setelah dihapus, data mobil tidak dapat dikembalikan. Yakin ingin menghapus?</p>
                            </div>
                            <div class="modal-footer d-flex justify-content-center">
                              <button type="button" class="btn btn-save-modal">Ya</button>
                              <button type="button" class="btn btn-close-modal" data-bs-dismiss="modal">Tidak</button>
                            </div>
                          </div>
                        </div>
                      </div>
                    <!-- End Modal -->
                    <button type="button" class="btn btn-success">
                        <img src="images/icon/fi_edit.png" alt="icon-edit">Edit
                    </button>
                </div>
            </div>
        </div>
        
        <div class="card col-md-4 me-5">
            <div class="card-body">
                <h5 class="card-title">
                    <img src="images/fi_car.png" alt="img-car">
                </h5>
                <p>Nama/Tipe Mobil</p>
                <h6>Rp 430.000 / hari</h6>
                <p class="card-text">
                    <img src="images/icon/fi_key.png" alt="icon-key">Start rent - Finish rent
                </p>
                <p class="card-text">
                    <img src="images/icon/fi_clock.png " alt="icon-clock">Updated at 4 Apr 2022, 09.00
                </p>
                <div class="btn-group" aria-label="Basic example">
                    <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">
                        <img src="images/icon/fi_trash-2.png" alt="icon-trash">Delete
                    </button>
                    <!-- Modal -->
                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                          <div class="modal-content">
                            <div class="modal-header d-flex justify-content-center">
                              <img src="images/img-BeepBeep.png" alt="">
                            </div>
                            <div class="modal-body text-center">
                              <h6>Menghapus Data Mobil</h6>
                              <p>Setelah dihapus, data mobil tidak dapat dikembalikan. Yakin ingin menghapus?</p>
                            </div>
                            <div class="modal-footer d-flex justify-content-center">
                              <button type="button" class="btn btn-save-modal">Ya</button>
                              <button type="button" class="btn btn-close-modal" data-bs-dismiss="modal">Tidak</button>
                            </div>
                          </div>
                        </div>
                      </div>
                    <!-- End Modal -->
                    <button type="button" class="btn btn-success">
                        <img src="images/icon/fi_edit.png" alt="icon-edit">Edit
                    </button>
                </div>
            </div>
        </div>

        <div class="card col-md-4 me-5">
            <div class="card-body">
                <h5 class="card-title">
                    <img src="images/fi_car.png" alt="img-car">
                </h5>
                <p>Nama/Tipe Mobil</p>
                <h6>Rp 430.000 / hari</h6>
                <p class="card-text">
                    <img src="images/icon/fi_key.png" alt="icon-key">Start rent - Finish rent
                </p>
                <p class="card-text">
                    <img src="images/icon/fi_clock.png " alt="icon-clock">Updated at 4 Apr 2022, 09.00
                </p>
                <div class="btn-group" aria-label="Basic example">
                    <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">
                        <img src="images/icon/fi_trash-2.png" alt="icon-trash">Delete
                    </button>
                    <!-- Modal -->
                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                          <div class="modal-content">
                            <div class="modal-header d-flex justify-content-center">
                              <img src="images/img-BeepBeep.png" alt="">
                            </div>
                            <div class="modal-body text-center">
                              <h6>Menghapus Data Mobil</h6>
                              <p>Setelah dihapus, data mobil tidak dapat dikembalikan. Yakin ingin menghapus?</p>
                            </div>
                            <div class="modal-footer d-flex justify-content-center">
                              <button type="button" class="btn btn-save-modal">Ya</button>
                              <button type="button" class="btn btn-close-modal" data-bs-dismiss="modal">Tidak</button>
                            </div>
                          </div>
                        </div>
                      </div>
                    <!-- End Modal -->
                    <button type="button" class="btn btn-success">
                        <img src="images/icon/fi_edit.png" alt="icon-edit">Edit
                    </button>
                </div>
            </div>
        </div>

        <div class="card col-md-4 me-5">
            <div class="card-body">
                <h5 class="card-title">
                    <img src="images/fi_car.png" alt="img-car">
                </h5>
                <p>Nama/Tipe Mobil</p>
                <h6>Rp 430.000 / hari</h6>
                <p class="card-text">
                    <img src="images/icon/fi_key.png" alt="icon-key">Start rent - Finish rent
                </p>
                <p class="card-text">
                    <img src="images/icon/fi_clock.png " alt="icon-clock">Updated at 4 Apr 2022, 09.00
                </p>
                <div class="btn-group" aria-label="Basic example">
                    <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">
                        <img src="images/icon/fi_trash-2.png" alt="icon-trash">Delete
                    </button>
                    <!-- Modal -->
                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                          <div class="modal-content">
                            <div class="modal-header d-flex justify-content-center">
                              <img src="images/img-BeepBeep.png" alt="">
                            </div>
                            <div class="modal-body text-center">
                              <h6>Menghapus Data Mobil</h6>
                              <p>Setelah dihapus, data mobil tidak dapat dikembalikan. Yakin ingin menghapus?</p>
                            </div>
                            <div class="modal-footer d-flex justify-content-center">
                              <button type="button" class="btn btn-save-modal">Ya</button>
                              <button type="button" class="btn btn-close-modal" data-bs-dismiss="modal">Tidak</button>
                            </div>
                          </div>
                        </div>
                      </div>
                    <!-- End Modal -->
                    <button type="button" class="btn btn-success">
                        <img src="images/icon/fi_edit.png" alt="icon-edit">Edit
                    </button>
                </div>
            </div>
        </div>

    </div>
</div>